[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=nik_hdrefexpro2 %U
Name=HDR Efex Pro 2
Icon=hdr_efex_pro_2
Category=Graphics;2DGraphics;RasterGraphics;
