[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=nik_sharpnerpro3 %U
Name=Sharpener Pro 3
Icon=sharpener_pro_3
Category=Graphics;2DGraphics;RasterGraphics;
