[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=nik_viveza2 %U
Name=Viveza 2
Icon=viveza_2
Category=Graphics;2DGraphics;RasterGraphics;
